@import "variables";
@import "accessibility";

.shapla-data-table {
    position: relative;
    border: $data-table-dividers;
    border-collapse: collapse;
    font-size: $data-table-font-size;
    background-color: #ffffff;

    &--fullwidth {
        width: 100%;
    }

    &--nowrap {
        white-space: nowrap;
    }

    thead {
        padding-bottom: 3px;

        .shapla-data-table__select {
            margin-top: 0;
        }
    }

    tbody {
        tr {
            position: relative;
            height: $data-table-row-height;
            transition-duration: 0.28s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: background-color;

            &.is-selected {
                background-color: $data-table-selection-color;
            }

            &:hover {
                background-color: $data-table-hover-color;
            }
        }
    }

    td, th {
        padding: 0 $data-table-column-padding 12px $data-table-column-padding;
        text-align: right;

        &:first-of-type {
            padding-left: 24px;
        }

        &:last-of-type {
            padding-right: 24px;
        }

        &.shapla-data-table__cell--non-numeric {
            text-align: left;
        }
    }

    td {
        position: relative;
        vertical-align: middle;
        height: $data-table-row-height;
        border-top: $data-table-dividers;
        border-bottom: $data-table-dividers;
        padding-top: $data-table-cell-top;
        box-sizing: border-box;

        .shapla-data-table__select {
            vertical-align: middle;
        }
    }

    th {
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 0;
        height: $data-table-row-height;
        font-size: $data-table-header-font-size;
        color: $data-table-header-color;
        padding-bottom: 8px;
        box-sizing: border-box;

        &.shapla-data-table__header--sorted-ascending,
        &.shapla-data-table__header--sorted-descending {
            color: $data-table-header-sorted-color;

            svg {
                height: $data-table-header-sort-icon-size;
                margin-right: 5px;
                vertical-align: sub;
                width: $data-table-header-sort-icon-size;

            }

            &:hover {
                cursor: pointer;

                svg {
                    fill: $data-table-header-sorted-icon-hover-color;
                }
            }
        }

        &.shapla-data-table__header--sorted-ascending {
            .icon-arrow-down {
                display: none;
            }
        }

        &.shapla-data-table__header--sorted-descending {
            .icon-arrow-up {
                display: none;
            }
        }
    }

}

.shapla-data-table__select {
    width: 16px;
}

.shapla-data-table-container {

    .shapla-data-table-nav-bottom,
    .shapla-data-table-nav-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;

        &__left {
            display: flex;
            flex-wrap: wrap;
        }

        .bulk-action-selector,
        &__action,
        &__filters {
            display: flex;
            flex-wrap: wrap;

            > * {
                margin-right: 5px;
            }
        }

        select {
            line-height: 1.2;
            padding: 3px 10px;
        }

        select, button {
            margin-bottom: 5px;
        }
    }

    .shapla-data-table-nav-top {
        align-items: flex-end;
    }

    .shapla-data-table-nav-bottom {
        align-items: flex-start;
    }

    .row-actions {
        color: #ddd;
        font-size: .875em;
        visibility: hidden;

        > * {
            &:not(:last-child) {
                border-right: 1px solid currentColor;
                margin-right: 5px;
                padding-right: 5px;
            }
        }

        .trash,
        .delete {
            color: #a00;

            a {
                color: currentColor;
            }
        }
    }

    tr:hover .row-actions {
        visibility: visible;
    }

    .toggle-row {
        display: none;
    }

    .shapla-data-table:not(.shapla-data-table--mobile) {
        th.check-column,
        td.check-column {
            width: 70px;
            text-align: left;
        }
    }
}

// Mobile
table.shapla-data-table--mobile {

    button.toggle-row {
        background: none;
        border: none;
        display: inline-block !important;
        text-align: center;
        line-height: 1;
        position: absolute;
        right: 8px;
        top: 10px;
        padding: 0;
        width: 40px;
        height: 40px;
        outline: 0;
        background: 0 0;
    }

    .triangle-up {
        display: none;
    }

    tr:not(.inline-edit-row):not(.no-items) td.column-primary ~ td:not(.check-column) {
        display: none;
    }

    tr:not(.inline-edit-row):not(.no-items) td.column-primary ~ td:not(.check-column) {
        // padding: 3px 8px 3px 35%;
    }

    tr.is-expanded td:not(.check-column) {
        display: block !important;

        .triangle-up {
            display: block;
        }

        .triangle-down {
            display: none;
        }
    }

    td.check-column {
        display: table-cell;
        vertical-align: top;
        width: 35px;
    }

    tr .row-actions {
        visibility: visible !important;
    }

    thead {
        th.column-primary {
            width: 100%;
        }

        th.column-primary ~ th {
            display: none;
        }
    }

    tbody {
        tr:first-child {
            td:first-child {
                border-top: 0;
            }
        }

        tr:last-child {
            td:last-child {
                border-bottom: 0;
            }
        }

        tr {

            &:hover {
                background-color: #fff;
            }

            td {
                &.column-primary {
                    height: auto;
                    padding-right: 40px;
                    text-align: left;
                }
            }
        }
    }

    tr {
        td {
            border-top: none;
            border-bottom: none;
            display: block;
            text-align: right;

            &:not(.column-primary).shapla-data-table__cell--non-numeric {
                text-align: right;
            }

            &.check-column {
                // display: table-cell;
                // padding: 8px 0 8px 16px;
                // width: 30px;
            }

            &.check-column:after {
                content: ' ';
            }

            &:not(.check-column):not(.column-primary)::before {
                content: attr(data-colname) ' : ';
                font-weight: bold;
                float: left;
            }

            &.product-remove,
            &.download-actions,
            &.actions {
                &::before {
                    display: none;
                }
            }
        }

        &:nth-child( 2n ) {
            td {
                background-color: rgba(0, 0, 0, 0.025);
            }
        }
    }
}
