$primary-color: #3273DC !default;
$on-primary-color: #fff !default;

$tabs-border-bottom-color: #dbdbdb !default;
$tabs-border-bottom-style: solid !default;
$tabs-border-bottom-width: 1px !default;
$tabs-link-color: #4A4A4A !default;
$tabs-link-hover-border-bottom-color: #363636 !default;
$tabs-link-hover-color: #363636 !default;
$tabs-link-padding: 0.5em 1em !default;

$tabs-boxed-link-radius: 4px !default;
$tabs-boxed-link-hover-background-color: #F5F5F5 !default;
$tabs-boxed-link-hover-border-bottom-color: #DBDBDB !default;

$tabs-boxed-link-active-background-color: #FFFFFF !default;
$tabs-boxed-link-active-border-color: #DBDBDB !default;
$tabs-boxed-link-active-border-bottom-color: transparent !default;

$tabs-toggle-link-border-color: #DBDBDB !default;
$tabs-toggle-link-border-style: solid !default;
$tabs-toggle-link-border-width: 1px !default;
$tabs-toggle-link-hover-background-color: #F5F5F5 !default;
$tabs-toggle-link-hover-border-color: #B5B5B5 !default;
$tabs-toggle-link-radius: 4px !default;
$tabs-toggle-link-active-color: #fff !default;
$radius-rounded: 290486px !default;