// Variables
// ------------------------------------------
$color-topbar: #f44336 !default;
$color-text: #ffffff !default;

// The Modal (background)
.dcf-modal {
    display: none; // Hidden by default 
    position: fixed; // Stay in place 
    z-index: 1000; // Sit on top 
    left: 0;
    top: 0;
    width: 100%; // Full width
    height: 100%; // Full height
    overflow: auto; // Enable scroll if needed
    background-color: rgb(0,0,0); // Fallback color
    background-color: rgba(0,0,0,0.4); // Black w/ opacity
    
    // Modal Content/Box
    &-content {
        background-color: $color-text;
        margin: 50px auto; // 50px from the top and centered 
        width: 80%; // Could be more or less, depending on screen size
        position: relative;
        padding: 0;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
    }

    // Modal Header 
    &-header {
        padding: 2px 16px;
        background-color: $color-topbar;
        color: $color-text;

        h4 {
            display: inline-block;
            margin: 0 10px;
            padding: 10px 0;
            color: $color-text;
        }
    }

    // Modal Body 
    &-body {padding: 2px 16px;}

    // Modal Footer 
    &-footer {
        padding: 2px 16px;
        background-color: $color-topbar;
        color: $color-text;
    }

    // The Close Button 
    &-close {}
    
    // The Close Button Image
    &-close-img {
        float: right;
        width: 28px;
        height: 28px;
        fill: $color-text;
        cursor: pointer;
    }
    
    label,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
        width: 100%;
        margin-bottom: 10px;
    }
}

// Add Animation 
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.dcf-open-dialog {
    position: fixed;
    bottom: 0;
    right: 50px;
    background-color: $color-topbar;
    color: $color-text;
    padding: 5px 15px;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;

    > svg {
        float: left;
        height: 24px;
        margin-right: 5px;
        vertical-align: middle;
    }

    > span {
        font-size: 16px;
    }
}

.dcf_success_status {
    span {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
        display: block;
        margin: 10px 0;
        padding: 8px 15px;
    }
}

.dcf_error_status {
    span {
        display: block;
        padding: 8px 15px;
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;

        &:nth-of-type(1) {
            margin-top: 10px;
        }
    }
}

.dcf-ajax-loader {
    display: none;
}

.dcf-svg-loader {
    cursor: pointer;
    // -webkit-animation: spin 2s linear infinite;
    // animation: spin 2s linear infinite;
}

.dcf-spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}