// sass --watch assets/scss/admin.scss:assets/css/admin.css --style compressed
@import "utilities/variables";
@import "utilities/mixins";
@import 'admin/meta-box';
@import 'admin/buttonset';
@import 'admin/toggle';
@import "components/modal";
@import "components/columns";
@import "admin/modal";

.dcf-columns,
.dcf-column,
.dcf-template {
	box-sizing: border-box;
}

.dcf-template {
	padding: 0.75rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	text-decoration: none;
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
	color: #444444;
	transition: all 300ms;
	border-radius: 4px;

	&:hover {
		background-color: #1ea9ea;
		border-color: #1ea9ea;
		color: #fff;

		.dcf-template-title,
		.dcf-template-description {
			color: #fff;
		}
	}

	&-title {
		margin: 0 0 0.75rem;
	}

	&-description {
		margin: 0;
	}
}

.sp-card {
	box-sizing: border-box;
	margin: 1rem 0;
}

.ui-state-highlight {
	height: 3rem;
	margin: 1rem 0;
	border: 1px solid rgba(#000, 0.1);
	background-color: rgba(#000, 0.1);
}

code.mailtag.code {
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px 8px;
}

.dcf-fields-list-wrapper {
	box-sizing: border-box;

	&:before,
	&:after {
		display: table;
		content: '';
	}

	&:after {
		clear: both;
	}
}

.dcf-fields-list {
	box-sizing: border-box;
	border: 1px solid #E0E0E0;
	margin-bottom: 6px;
	cursor: pointer;
	min-width: 200px;
	max-width: 100%;
	width: 100%;
	height: 30px;

	&.is-half {
		min-width: auto;
		width: calc(50% - 3px);

		&.is-first {
			float: left;
			margin-right: 3px;
		}
		&.is-last {
			float: right;
			margin-left: 3px;
		}
	}

	i {
		background: #f1f1f1;
		box-sizing: border-box;
		padding: 8px;
		margin-right: 5px;
		width: 30px;
		height: 30px;
	}
}

.dcf-toggle-title--icon {
	background: #f1f1f1;
	display: inline-block;
	padding: 16px;
	width: 48px;
	text-align: center;
	box-sizing: border-box;
	margin: -16px 10px -16px -16px;

	svg {
		width: 16px;
		height: 16px;
		box-sizing: border-box;
	}
}

#shaplaFieldList {
	width: 100%;
	min-height: 50px;
}

.dcf-fields-list {
	svg {
		background: #f1f1f1;
		box-sizing: border-box;
		padding: 8px;
		margin-right: 5px;
		width: 30px;
		height: 30px;
		display: inline-block;
		line-height: 1;

		+ span {
			display: inline-block;
			line-height: 2.2;
			vertical-align: top;
		}
	}
}

.post-type-dialog-contact-form {
	.dcf-copy-shortcode {
		background-color: #f1f1f1;
		letter-spacing: 1px;
		padding: 5px 8px;
		width: 100%;
		max-width: 20em;

		&.widefat {
			max-width: 100%;
		}
	}

	@media screen and (min-width: 783px) {
		.wp-list-table {
			th, td {
				&.column-title {
					width: calc(50% - 2.5em);
				}
				&.column-shortcode {
					width: 40%;
				}
				&.column-entries {
					width: 10%;
				}
			}
		}
	}
}