$color--success: #4caf50;
$color--error: #f44336;

.field {
	&:not(:last-child) {
		margin-bottom: 0.75rem;
	}

	@media screen and (min-width: $tablet), print {
		&.is-horizontal {
			display: flex;
		}
	}
}

.label {
	color: inherit;
	display: block;
	font-size: 1rem;
	font-weight: 500;

	&:not(:last-child) {
		margin-bottom: 0.5em;
	}

	&.is-small {
		font-size: 0.75rem;
	}

	&.is-medium {
		font-size: 1.25rem;
	}

	&.is-large {
		font-size: 1.5rem;
	}
}

.control {
	font-size: 1rem;
	position: relative;
	text-align: left;
	margin: 0;
}

.help {
	display: block;
	font-size: 0.75rem;
	margin-top: 0.25rem;

	&.is-success {
		color: $color--success;
	}

	&.is-danger {
		color: $color--error;
	}
}

// General style
.input,
.textarea {
	width: 100%;
}

.radio,
.checkbox {
	cursor: pointer;
	display: inline-block;
	position: relative;

	&:not(:last-child) {
		margin-right: 1rem;
	}
}