$color--success: #23D160;
$color--error: #FF3860;

.dcf-field {
	&:not(:last-child) {
		margin-bottom: 0.75rem;
	}

	@media screen and (min-width: $tablet), print {
		&.is-horizontal {
			display: flex;
		}
	}
}

.dcf-label {
	color: inherit;
	display: block;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.5em;
}

.dcf-control {
	font-size: 1rem;
	position: relative;
	text-align: left;
	margin: 0;

	// General style
	input:not([type='radio']):not([type='checkbox']),
	textarea {
		width: 100%;
	}

	input,
	textarea,
	select {
		&.dcf-has-error {
			border-color: $color--error;

			&:hover, &:focus, &:active {
				border-color: $color--error;
			}

			&:focus, &:active {
				box-shadow: 0 0 0 0.125em rgba($color--error, 0.25);
			}
		}
	}

	.dcf-error-message {
		color: $color--error;
		display: block;
		font-size: 0.75rem;
		margin-top: 0.25rem;
	}
}

.dcf-help {
	display: block;
	font-size: 0.75rem;
	margin-top: 0.25rem;
}

.dcf-radio-container,
.dcf-checkbox-container {
	cursor: pointer;
	display: inline-block;
	position: relative;

	&:not(:last-child) {
		margin-right: 1rem;
	}
}