.level-left,
.level-right {
	align-items: center;
	display: flex;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}

.level-left {
	justify-content: flex-start;
}

.level-right {
	justify-content: flex-end;
}
