.dcf-form-container {
    position: relative;
}

.dcf-form-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dcf-title {
    display: inline;
    position: absolute;
    margin: 0;
    padding: 5px;
    top: 20px;
}

.dcf-forms-title {
    margin: 0 0 10px;
    line-height: 1.2;
}